* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Arial;
  background: #f3f4f6;
  overflow: hidden; /* 🔥 WAJIB */
}
